*{
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 auto;
  font-family: 'Lato', sans-serif;
}
html{
  font-size: 20px;
}

$mainColor: #EEF0F0;
// $secondColor: #9F47E5;
$secondColor: #ab92e1;

div{
  display: flex;
}

@mixin boxstyle{
  border-radius: 15px;
  box-shadow: 0 2px 3px rgba(0,0,0,.1), 3px 3px 8px rgba(0,0,0,.1);
  // box-shadow: 0 2px 3px $secondColor, 3px 3px 8px $secondColor;
  @media(max-width: 640px){
    margin: 0;
  }
}

// @mixin underline {
//     border-bottom: 1px solid red;
// }



.container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 100%;
  margin: 10 10 10 10;
  padding: 0 auto;

  .nav{
    @include boxstyle;
    width: 100%;
    background-color: $mainColor;
    text-align: center;
    min-height: 80px;
    font-size: 2rem;
    line-height: 80px;
  }
  .headersection{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    @media(max-width: 640px){
      display: table;
    }
  }
  .header{
    text-align: center;
    width: 50%;
    min-height: 80px;
    line-height: 80px;
    @media(max-width: 640px){
      line-height: 40px;
    }
  }
  #sec{
    @media(max-width: 640px){
      display: none;
    }
  }
  #hide{
    @media(min-width: 640px){
      display: none;
    }
  }
  .sectionmain{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    @media(max-width: 640px){
      display: table;
    }
  }
  .sectiontable{
    @include boxstyle;
    width: 50%;
    min-height: 450px;
    background-color: $mainColor;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-right: 5px;
    &table, th, td, tr{
      border: 1px solid $secondColor;
      padding: 8px;
    }
    &table{
      border-radius: 10px;
    }
    thead th:first-child{
      border-radius: 10px 0 0 0;
    }
    thead th:last-child {
    border-radius: 0 10px 0 0;
    }
    tbody tr:last-child td:first-child {
    border-radius: 0 0 0 10px;
    }
    tbody tr:last-child td:last-child {
    border-radius: 0 0 10px 0;
    }
    @media(max-width: 640px){
      width: 100%;
      margin-right: 0px;
    }
  }
  .sectioncalc{
    @include boxstyle;
    width: 50%;
    min-height: 450px;
    background-color: $mainColor;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 5px;
    @media(max-width: 640px){
      width: 100%;
      margin-left: 0px;
    }
  }
  .twocolholder{
    display: flex;
    margin: 10px 0 0 0;
    flex-direction: row;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    @media(max-width: 640px){
      width: 100%;
    }
  }
  .inputholder{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 10px;
  }
  .inputholder input{
    padding: 10px;
    border: 1px solid $secondColor;
    border-radius: 15px;
    width: 100%;
    cursor: pointer;
  }
  input:focus{
      outline-color: $mainColor;
    }
  .inputholder select{
    font-size: 0.8rem;
    border-radius: 15px;
    border: 1px solid $secondColor;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    width: 100%;
    cursor: pointer;
    overflow-y: auto;
  }
  select:focus{
    outline-color: $mainColor;
  }
  option{
    padding: 3px;
  }
  option:hover {
  background-color : $secondColor;
  color: $mainColor;
  }
  .selectholder{
    padding-left: 0;
    width: 50%;
  }
  .responseholder{
    padding-top: 10px;
    width: 33.33%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 0.7rem;
    box-sizing: border-box;
    margin: 0 0 0 0;
  }
  .tip{
    margin-top: 30px;
    padding: 10px;
    box-sizing: border-box;
    line-height: 30px;
    font-size: 1rem;
    border-radius: 5px;
    text-align: center;
  }
  .hint{
    @media(max-width: 640px){
      font-size: 0.6rem;
    }
  }
  .btnholder{
    padding-top: 10px;
    padding-bottom: 10px;
  }
  button{
    background-color: $mainColor;
    border: 1px solid $secondColor;
    font-weight: bold;
    width: 200px;
    height: 50px;
    cursor: pointer;
    border-radius: 15px;
    font-size: 1rem;
    outline-color: $mainColor;
  }
  .clicked{
    background-color: $mainColor;
  }
}
